<html>
  <head>
    <title>Curso GoNode - Desafio 01</title>
  </head>
  <body>
    <p>Curso GoNode - Desafio 01</p>

    <br>

    <form action="/check" method="POST">
      Nome:<br>
      <input type="text" name="name" /><br>

      Data de Aniversário:<br>
      <input type="date" name="birthDate" value="22/07/2018" /><br><br>

      <button type="submit">Enviar Informações</button>
    </form>
  </body>
</html>
